.div-center {
    width: 400px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    border-bottom: 2px solid #ccc;
    display: table;
}

#introex {
    width: 100%;
    height: 100vh;
    background: url(../../../../Images/pexels-snapwire-34950.jpg) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
div.content {
    display: table-cell;
    vertical-align: middle;
}
@media (min-width: 1024px) {
    #introex {
        background-attachment: fixed;
    }
}

#introex:before {
    content: "";
    background: rgba(6, 12, 34, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#introex .introex-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 90px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}

@media (max-width: 991px) {
    #introex .introex-container {
        top: 70px;
    }
}

#introex h1 {
    color: #fff;
    font-family: "Calibri", sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
}

    #introex h1 span {
        color: #f82249;
    }

@media (max-width: 991px) {
    #introex h1 {
        font-size: 34px;
    }
}

#introex p {
    color: #ebebeb;
    font-weight: 700;
    font-size: 20px;
}

@media (max-width: 991px) {
    #introex p {
        font-size: 16px;
    }
}

#introex .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#f82249 50%, rgba(101, 111, 150, 0.15) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
}

    #introex .play-btn::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-40%) translateY(-50%);
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #fff;
        z-index: 100;
        transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    #introex .play-btn:before {
        content: '';
        position: absolute;
        width: 120px;
        height: 120px;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation: pulsate-btn 2s;
        animation: pulsate-btn 2s;
        -webkit-animation-direction: forwards;
        animation-direction: forwards;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: steps;
        animation-timing-function: steps;
        opacity: 1;
        border-radius: 50%;
        border: 2px solid rgba(163, 163, 163, 0.4);
        top: -15%;
        left: -15%;
        background: rgba(198, 16, 0, 0);
    }

    #introex .play-btn:hover::after {
        border-left: 15px solid #f82249;
        transform: scale(20);
    }

    #introex .play-btn:hover::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-40%) translateY(-50%);
        width: 0;
        height: 0;
        border: none;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #fff;
        z-index: 200;
        -webkit-animation: none;
        animation: none;
        border-radius: 0;
    }

#introex .about-btn {
    font-family: "Calibri", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #f82249;
}

    #introex .about-btn:hover {
        background: #f82249;
        color: #fff;
    }

#introhome {
    width: 100%;
    height: 100vh;
    background: url('../../../../CardImages/Arts and Culture.jpg') top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}


@media (min-width: 1024px) {
    #introhome {
        background-attachment: fixed;
    }
}

#introhome:before {
    content: "";
    background: rgba(6, 12, 34, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#introhome .introhome-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 90px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}

@media (max-width: 991px) {
    #introhome .introhome-container {
        top: 70px;
    }
}

#introhome h1 {
    color: #fff;
    font-family: "Calibri", sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
}

    #introhome h1 span {
        color: #f82249;
    }

@media (max-width: 991px) {
    #introhome h1 {
        font-size: 34px;
    }
}

#introhome p {
    color: #ebebeb;
    font-weight: 700;
    font-size: 20px;
}

@media (max-width: 991px) {
    #introhome p {
        font-size: 16px;
    }
}

#introhome .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#f82249 50%, rgba(101, 111, 150, 0.15) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
}

    #introhome .play-btn::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-40%) translateY(-50%);
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #fff;
        z-index: 100;
        transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    #introhome .play-btn:before {
        content: '';
        position: absolute;
        width: 120px;
        height: 120px;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation: pulsate-btn 2s;
        animation: pulsate-btn 2s;
        -webkit-animation-direction: forwards;
        animation-direction: forwards;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: steps;
        animation-timing-function: steps;
        opacity: 1;
        border-radius: 50%;
        border: 2px solid rgba(163, 163, 163, 0.4);
        top: -15%;
        left: -15%;
        background: rgba(198, 16, 0, 0);
    }

    #introhome .play-btn:hover::after {
        border-left: 15px solid #f82249;
        transform: scale(20);
    }

    #introhome .play-btn:hover::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-40%) translateY(-50%);
        width: 0;
        height: 0;
        border: none;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #fff;
        z-index: 200;
        -webkit-animation: none;
        animation: none;
        border-radius: 0;
    }

#introhome .about-btn {
    font-family: "Calibri", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #f82249;
}

    #introhome .about-btn:hover {
        background: #f82249;
        color: #fff;
    }
